<form action="/nfts/edit/{{_id}}" method="POST" enctype='multipart/form-data'>
  <label for="">Title:</label>
  <input type="text" name="title" id="" value='{{title}}'>
  <label for="">Description:</label>
  <input type="textarea" name="description" 
  rows="5" 
  cols="10"
  class=''
  >{{description}}</textarea>
  <label for="">Value:</label>
  <input type="number" name="value" id="" value='{{value}}'>

  <input type='text' value='{{imgUrl}}' name='currentImage' hidden/></label>
  <div class=''>
      <label for='image'>
        Image:
        <input type='file' name='image' class='' />
      </label>
    </div>

  <button type="submit">Edit</button>
</form>
