<form action="/nfts/nfts-list" method="GET">

<h1>Gallery</h1>
 
{{#each nftsFromDb}}
  <div>
    <h3>{{title}}</h3>
    <a href="/auth/profile/{{author._id}}"><h6>Created By:{{author.username}}</h6></a>
    <img src='{{imgUrl}}' alt='{{title}}' />
  </div>
{{/each}}


