
<form action="/nfts/nfts-list" method="GET">
<h1>Gallery</h1>

{{#each nftsFromDb}}
    
    <div>
    <h3>{{title}}</h3>
    <a href="/auth/profile/{{author._id}}">

    <h6>Created By:{{author.username}}</h6> 
    </a>
    {{!-- change it --}}
    {{!-- redirect to artist profile while clicking --}}
     <img src='{{imgUrl}}' alt='{{title}}'/>
     <br>


  {{#ifEquals ../userId author._id}}
     <a href='/nfts/delete/{{_id}}' class='btn btn-primary'>Delete</a>
     <a href='/nfts/edit/{{_id}}' class='btn btn-primary'>Edit</a>
  {{/ifEquals}}
  </div>
{{/each}}


