<form action="/nfts/edit/{{editNft._id}}" method="POST" enctype='multipart/form-data'>
<div class="nft-container">
  <label for="">Title:</label>
  <input type="text" name="title" id="" value='{{editNft.title}}'>
  <label for="">Description:</label>
  <input type="text" name="description" value='{{editNft.description}}'/>
  <label for="">Value:</label>
  <input type="number" name="value" id="" value='{{editNft.value}}'>
  <input type='text' value='{{editNft.imgUrl}}' name='currentImage' hidden/></label>
  <div class=''>
      <label for='image'>Image:<input type='file' name='image' class='' /></label>
    </div>
     <input type="submit" value="Update the NNFT">
</form>
</div>