<h1 id="gallery-title">NNFT {{user.accountType}} {{#ifEquals userId currentUser._id}}  
<a href='/auth/edit/{{user._id}}' class='artistbtn'><button>Edit Profile</button></a>
{{/ifEquals}}</h1>
<hr>
</div>      
<div class="art-profile">    
{{#each user.uploads}}
<div class="artist-gallery">
  <a target="_blank" href="/auth/profile/{{author._id}}">
    <img src='{{imgUrl}}' alt='{{title}}' width="600" height="400">
  </a>
  <h3>{{title}}</h3>
  <p>Short Description:</p>
  <p>{{description}}</p>
</div>
{{/each}}
</div>
</div>
