<h1>{{user.accountType}} </h1><h1>Profile</h1>
<hr/>

<div>
    <h2>{{user.firstName}} {{user.lastName}}</h2>

    <h3>Works:</h3>
    
    <ul>

{{#each user.uploads}}
<img src="{{imgUrl}}" alt="{{title}}">
<h3>{{title}}</h3>
{{/each}}

    </ul>
 {{#ifEquals userId currentUser._id}}
    <form action="/auth/delete/{{user._id}}" method="get">
    <button type="submit">Delete</button>
    </form>
{{!--      <a href='/auth/delete/{{user._id}}' class='btn btn-primary'>Delete Profile</a>
 --}}     <a href='/auth/edit/{{user._id}}' class='btn btn-primary'>Edit Profile</a>
     <a href='/nfts/create' class='btn btn-primary'>Create a New NFT</a>


{{/ifEquals}}
</div>

